.chat-box--item_HIDDEN {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-40px); 
}

.header{
	color:#0d3551;
	font-size:2em;
	text-align:center;
	height:5%;
	padding-bottom:5px;
}

html, body {
   height: 100%;
   margin: 0;
   background-size: 350px;
   background-attachment: fixed;
}

.main-container{
	height:100%;
	margin:1;
	border:1;

}

.expander {
   float:right;
   z-index:2;
   position: relative;
   margin: 0 auto;
   background: #ffffff;
   width: 700px;
   height: 100%;
   padding-bottom: 2px;
   -webkit-transition: width 0.3s ease;
   transition: width 0.3s ease;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
	background: #BADCF3;
	text-align: left;
	border-radius: 15px;
}

#messages li:nth-child(odd) {
	background: #f9f6ef;
	text-align: right;
	border-radius: 15px;
}


.wrapper {
   z-index: 2;
   position: absolute;
   background: #ffffff;
   border-left: solid 1px #e6e6e6;
   border-right: solid 1px #e6e6e6;
   width: 700px;
   float: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.receipt_wrapper {
   z-index:1;
   position: relative;
   margin: 0 auto;
   width: 700px;
   height: 100%;
   padding-bottom: 2px;
   -webkit-transition: width 0.3s ease;
   transition: width 0.3s ease;
}

#content {
   font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   border-bottom: solid 1px #e6e6e6;
   border-top: solid 1px #e6e6e6;
   overflow-y: scroll;
   padding: 0;
   margin: 0;
	 height: 89%;
	 width:100%;
	 position: absolute;
	 background-color:#ffffff;
}


.chat-box--item_YOU{
	text-align:right;
	width:100%;
}

.chat-box--item_WATSON{
	text-align:left;
	width:100%;
}

.chat-box--message-text{
  display: inline-block;
  border-radius: 1.3em;
  padding: 10px;
  margin: 5px;
}

.WATSON_chat{
	background-color:#f9f6ef;
}

.YOU_chat{
	background-color:#BADCF3;
}

h3{
	right:5px;
	color:#0d3551;
}

#platform-div {
  margin-left: 500px;
  height: 25px;
  position: absolute;
  bottom: 0;
}

.platform {   
	font-size: 12px;  
}

.platform-label{
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  margin-right: 4px;
  font-size: 14px;
  vertical-align: middle;
	font-weight: normal;  
}

#chat-input{
	position: absolute;
	height: 4%;
	bottom:0;
	padding:5px;
	width: 490px;
}

.chat-window--microphone-button {
	height: 5%;
	bottom:0;
  width: 35px;
  cursor: pointer;
  background-color: #00B2EF;
  position: absolute; /* this is a hack, but it gets the job done */
  right: 0;
}

  .chat-window--microphone-button.active {
    background-color: #d74108;
  }

  .chat-window--microphone-button.normal {
    background-color: #00B2EF;
  }